openapi: "3.0.3"
info:
  title: NamLend Trust — Convex HTTP Endpoints
  description: |
    This file documents ONLY the HTTP endpoints defined in convex/http.ts
    via Convex's HTTP router. These are the only true HTTP endpoints.

    Convex queries and mutations are called over WebSocket using the Convex
    React SDK (useQuery / useMutation) — they are NOT REST endpoints and are
    NOT documented here. See docs/API_REFERENCE.md for the full Convex API.

    Last Updated: 2026-03-04
    Aligned With: convex/http.ts (post-quality-sweep codebase)
  version: "4.0.0"
  contact:
    name: NamLend Trust Engineering

servers:
  - url: https://aromatic-okapi-265.convex.cloud
    description: Convex production deployment
  - url: http://localhost:8080
    description: Local development (via npm run dev)

paths:
  /health:
    get:
      summary: Health check
      description: Returns service health status. Public endpoint, no authentication required.
      operationId: getHealth
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "ok"
                  service:
                    type: string
                    example: "namlend-convex"
                  ts:
                    type: integer
                    description: Server timestamp (Unix ms)
                    example: 1709510400000

  /webhook/ips:
    post:
      summary: IPS transaction status callback
      description: |
        Receives IPS transaction status callbacks from the Bank of Namibia switch.
        Implements HMAC-SHA256 signature verification using IPS_WEBHOOK_SECRET.
        Falls back to warn-only mode if IPS_WEBHOOK_SECRET is not configured.
      operationId: webhookIps
      security:
        - hmacSignature: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: IPS pacs.002 status payload
              properties:
                msgId:
                  type: string
                  description: Message ID matching the original ipsTransactions.msgId
                status:
                  type: string
                  description: ISO 20022 status code (e.g. ACSC, RJCT, PDNG)
      responses:
        "200":
          description: Webhook received and queued for processing
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookAck"
        "400":
          description: Cannot read body or invalid JSON
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Missing or invalid HMAC signature (when IPS_WEBHOOK_SECRET is set)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal handler error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /webhook/payment:
    post:
      summary: Payment gateway webhook
      description: |
        Receives payment status webhooks from PayToday, MTC MoMo, and TN Mobile.
        Implements HMAC-SHA256 signature verification using PAYMENT_WEBHOOK_SECRET.
        Checks X-PayToday-Signature, X-Signature, and X-Webhook-Signature headers
        (first match wins). Falls back to warn-only if secret is not configured.
      operationId: webhookPayment
      security:
        - hmacSignature: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Payment gateway status payload (provider-specific format)
      responses:
        "200":
          description: Webhook received and queued for processing
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookAck"
        "400":
          description: Cannot read body or invalid JSON
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Missing or invalid HMAC signature (when PAYMENT_WEBHOOK_SECRET is set)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal handler error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/auth/signin:
    post:
      summary: Sign in (Convex Auth)
      description: Mounted by @convex-dev/auth. Signs in a user with email and password.
      operationId: authSignIn
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [provider, params]
              properties:
                provider:
                  type: string
                  example: "password"
                params:
                  type: object
                  properties:
                    email:
                      type: string
                      format: email
                    password:
                      type: string
                    flow:
                      type: string
                      enum: [signIn, signUp]
      responses:
        "200":
          description: Sign-in successful; session token returned
        "401":
          description: Invalid credentials

  /api/auth/signout:
    post:
      summary: Sign out (Convex Auth)
      description: Mounted by @convex-dev/auth. Invalidates the current session.
      operationId: authSignOut
      responses:
        "200":
          description: Signed out successfully

  /api/auth/token:
    post:
      summary: Refresh session token (Convex Auth)
      description: Mounted by @convex-dev/auth. Refreshes an existing session token.
      operationId: authToken
      responses:
        "200":
          description: New session token returned
        "401":
          description: Session expired or invalid

components:
  securitySchemes:
    hmacSignature:
      type: apiKey
      in: header
      name: X-IPS-Signature
      description: |
        HMAC-SHA256 hex-encoded signature of the raw request body.
        For IPS: X-IPS-Signature or X-Signature header.
        For payments: X-PayToday-Signature, X-Signature, or X-Webhook-Signature.
        Signature is optional during development if server secret is not configured.

  schemas:
    WebhookAck:
      type: object
      properties:
        received:
          type: boolean
          example: true

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Human-readable error message
          example: "Invalid signature"
